body {
    overflow-y: scroll;
    overflow-x: hidden;
}

#stream-selector-app {
    padding: 10px;
}

#substream-selector-app {
    padding: 10px;
}

#subtable .v-application--wrap {
    min-height: 0;
}

#subtable {
    padding-bottom: 1px;
    padding-top: 3px;
}

#subtable .v-data-table-header {
    visibility: hidden;
}

#subtable .subtable-hidden-value {
    visibility: hidden;
}

#subtable .v-data-footer {
    display: none;
}

#subtable-column {
    padding: 0;
}

#hidden-space-selector-data {
    display: none;
}

#app-smartactivity-table-vue-and-vuetify {
    padding: 0;
}

.activity-data-title {
    margin: 0;
}

.subchart {
    position: absolute;
    margin-top: 3px;
    width: 370px;
    height: 110px;
    visibility: visible;
    z-index: 1;
}

#subtable-chart {
    display: block;
}


