#stream-selector-app {
    padding: 10px;
}

#subtable .v-application--wrap {
    min-height: 0px;
}

#subtable {
    margin-right: 24px;
}

#subtable .v-data-table-header {
    visibility: hidden;
}

#subtable .v-data-footer {
    display: none;
}

#subtable-column{
    padding: 0px;
}
