@font-face {
  font-family: 'icomoon';
  src: url('/smartactivity/skin/fonts/icomoon.eot?jutru7');
  src: url('/smartactivity/skin/fonts/icomoon.eot?jutru7#iefix') format('embedded-opentype'),
    url('/smartactivity/skin/fonts/icomoon.ttf?jutru7') format('truetype'),
    url('/smartactivity/skin/fonts/icomoon.woff?jutru7') format('woff'),
    url('/smartactivity/skin/fonts/icomoon.svg?jutru7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.relevance {
  font-size: 16px;
  font-family: "icomoon" !important;
}

.relevance-default:before {
  color: #c6c6c6;
  content: "\ea10";
}

.relevance-relevant:before {
  content: "\ea10";
}

.relevance-irrelevant:before {
  content: "\ea0f";
}

a.relevance-tooltip {
	margin-right: -8px;
}

#focusport-dev {
  width: 100%;
  /* border-top: 3px solid red; */
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  opacity: 0.05;
  background-color: red;
}

.activityid-dev {
  position: relative;
  font-size: 24px !important;
  color: red;
  font-weight: bold;
}